.icon-canvas
{
    padding: 10px;
    display: inherit;
}
.file-icon
{
    padding:  22px;
    background-color: aliceblue;
    width: 30vw;
    margin-bottom: 5px;
}
.viewer
{
    display:inline-block;

}
.file-preview-btn
{
    float: right;
}