@using System.IO;
@{
    ViewData["Title"] = "Model Viewer";
    string[] filesPath = Directory.GetFiles("assets/");
    
}
<h3 class='info'>Place .obj file inside "assets" folder</h3>
<div class="viewer">
    @{
        foreach (string file in filesPath)
        {
            string fileName = file.Replace("assets/", "");
            <div class="file-icon" onclick="renderIcon(this, '@file')">@fileName
                <a class="file-preview-btn" asp-action="ModelPreview" asp-route-objectname="@fileName">Zobacz</a>
    </div>
        }
    }
</div>
<script>
    renderIcon = (target, filedir) => {
            if(document.querySelectorAll(".icon-canvas").length > 0)
            {
                document.querySelectorAll(".icon-canvas").forEach(el =>{
                    el.remove();
                })
            }
        filedir = filedir.replace("wwwroot", "");
        console.log(filedir);
        let canvas = document.createElement("canvas");
        canvas.className = "icon-canvas";
        canvas.setAttribute("width", "150px");
        canvas.setAttribute("height", "150px");
        target.appendChild(canvas);
        var scene = new THREE.Scene();
        var camera = new THREE.PerspectiveCamera(90, 1, 1, 100);
        camera.updateProjectionMatrix();
        var Loader = new THREE.OBJLoader();
        var light = new THREE.AmbientLight(0x404040);
        scene.add(light);
        var render = new THREE.WebGLRenderer({ canvas: canvas, alpha: true });
        render.setClearColor(0x000000, 0);
        render.setSize(canvas.width, canvas.height);
        Loader.load(filedir, (object)=>{
            scene.add(object);
            object.position.set(0,0,0);
            object.rotation.set(0, 10, 0);
            camera.position.z = 6;
            render.render(scene, camera);
        })
    }
</script>