
@{
    ViewBag.Title = "Model Preview";
}
    <a class="menu" asp-action="Index">Wróć</a>
    <h3>Użyj myszki aby obracać obiekt</h3>
<script>
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
    var Loader = new THREE.OBJLoader();
    const light = new THREE.PointLight( 0xffffff, 4, 90 );
    light.position.set(50, 50, 50);
    scene.add(light);
    let obj;
    let mouseX, mouseY;
    let deltaX=0;
    let deltaY=0;
    let isDown;
    Loader.load(`/assets/@ViewData["object"]`, (object) => {
        obj = object;
        scene.add(obj);
        renderer.render(scene, camera);
        render();
    });
    var renderer = new THREE.WebGLRenderer({ alpha: true });
    renderer.setClearColor(0x000000, 0);
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.antialias = true;
    document.body.appendChild(renderer.domElement);
    camera.position.z = 12;
    document.addEventListener('mousemove',(e)=>{
        if(!isDown)
            return;
        
        e.preventDefault();
        deltaX = e.clientX - mouseX;
        deltaY = e.clientY - mouseY;
        mouseX = e.clientX;
        mouseY = e.clientY;

    });
    document.addEventListener('mousedown',(e)=>{
        e.preventDefault();
        isDown = true;
        mouseX = e.clientX;
        mouseY = e.clientY;
    });
    document.addEventListener('mouseup',(e)=>{
        e.preventDefault();
        isDown = false;
        deltaX = 0;
        deltaY = 0;
        mouseY = 0;
        mouseX = 0;
    });
    var render = () =>{
        requestAnimationFrame(render);
        obj.rotation.y += deltaX/100;
        obj.rotation.x += deltaY/100;
        renderer.render(scene, camera);
    }
</script>